recursive-include chemfp *.py
recursive-include tests *.py
prune tests/chemfp
prune chemfp/indigo.py
prune chemfp/commandline/indigo2fps.py

recursive-include src *.c
recursive-include src *.h

include src/CMakeLists.txt
include tests/unit2
include tests/testall
include tests/*.sdf
include tests/*.smi
include tests/pubchem.*sdf*

prune src/CMakeFiles

include oe2fps
include ob2fps
include rdkit2fps
include simsearch
include fpsmerge

include TODO
include THANKS
include COPYING
include CHANGELOG
